{% extends 'base.html' %}

{% block content %}


<h1>Add Stock...</h1>

<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'add_stock' %}">
	{% csrf_token %}
	<input class="form-control mr-sm-2" type="search" placeholder="Enter Ticker" aria-label="Search" name="ticker">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Stock</button>
</form>

<br><br>

<table class="table table-hover table-bordered table-sm">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Ticker</th>
      <th scope="col">Company</th>
      <th scope="col">Market Cap</th>
      <th scope="col">Price</th>
      <th scope="col">Changes Percentage</th>
      <th scope="col">EPS</th>
      <th scope="col">PE</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	{% for item in tickers %}
	    <tr class="text-center">
	      <th scope="row">{{ item }}</th>
	      <td>Mark</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td><a href="{% url 'delete' item.id %}">Delete</a></td>
	    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock %}